@use "../../mixins.scss" as *;

.time-ago-wrap {
  .time-short {
    display: none;
  }

  @include respond(phone) {
    .time-long {
      display: none;
    }
    .time-short {
      display: inline;
    }
  }
}
