.upload-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 12px;

    .thumbnail{
      width: 120px;
    }
    
}
.progress-bar {
    position: relative;
    width: 100%; // Adjust width as needed
    height: 20px; // Adjust height for desired thickness
    background-color: #e0e0e0; // Light gray for the background
    border-radius: 10px; // Rounded corners
    overflow: hidden; // Ensure content doesn’t spill outside
    margin: 10px 0;
  
    .progress-bar-fill {
      height: 100%; // Matches the height of the container
      background-color: #4caf50; // Green for the filled portion
      width: 0; // Default width is 0%
      transition: width 0.4s ease-in-out; // Smooth animation for progress
      display: flex;
      align-items: center; // Center text vertically
      justify-content: center; // Center text horizontally
      color: #fff; // White text for contrast
      font-size: 14px; // Adjust text size
      font-weight: bold;
      border-radius: 10px; // Rounded corners for the fill (matches container)
    }
  
    .progress-bar-text {
      position: absolute; // Overlay text above the bar
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); // Center the text
      color: black; // White text for contrast
      font-size: 14px; // Adjust size as needed
      font-weight: bold;
    }
  }
  
  .updateVideoInfo-btn-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
      padding: 10px 20px;
      border: none;
      background-color: #4ba1d3;
      color: #fcffff;
      border-radius: 7px;
    }
  }

  .err-upload{
    color: #fff;
  font-size: 14px;
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 6px;
  text-align: center;
  display: inline-block; /* Ensure transform affects only this text */
  animation: shake 0.5s ease-in-out; /* Shake for 0.5s */
  background-color: #d9534f;

  }

  



