@use "../../mixins.scss" as mix;
.sidebar{
    background: #fff;
    width: 12%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 1%;
    padding-top: 80px;
    border-radius: 20px;
    border-right: 1px;
    // box-shadow: 
    // 4px 0 10px rgba(90, 87, 87, 0.2), /* Neutral shadow */
    // 6px 0 15px rgba(243, 157, 157, 0.3);
    box-shadow: 0px 1px 7px 0px #00000040;
    @include mix.respond(phone) {
      display: none  !important;
    }

.shortcut-links{
    .icon{
        width: 20px;
        margin-right: 15px;
        &:hover {
            color: red;
          }
    }
    
}
.side-link{
    display: flex;
    padding: 10px 0;
    // background-color: #cccccc83;
    // width: 100%;
    // background: red;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
    // @include mix.respond(phone) {
    //     display: none;
    //   }
    span{
        font-size: 14px;
        font-weight: 500;
    }
    .store-icon{
        width: 20px;
        margin-right: 15px;
        
    }

    &:hover {
        padding-left: 10px;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: rgba(0, 0, 0, 0.25);
        // box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2), 
        //       0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 7px 0px #00000040;
        color: red;
      }
}


hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscibed-list{
    h3{
        font-size: 13px;
        margin: 20px 0px;
        color: #5a5a5a;
    }

    .icon{
        width: 25px;
        margin-right: 15px;
    }



}

}
.small-sidebar{
    width: 3%;
    span{
        display: none;
    }
    h3{
        display: none;
    }
    hr{
        border: 0;
        height: 1px;
        background: #ccc;
        width: 50%;
        margin-bottom: 25px;
    }

    .side-link{
        &:hover {
            padding-top: 10px;
            width: fit-content;
            background-color: rgba(0, 0, 0, 0.05);
            box-shadow: rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2), 
                  0 1px 3px rgba(0, 0, 0, 0.1);
          } 
    }
    
}